In [13]:
import pandas as pd

In [14]:
# Load the intermediate DataFrame from the file
new_df = pd.read_csv('database_data.csv')

In [15]:
new_df

           pretty_formula material_id  band_gap
0            Cs3Nd(MoO4)3   mp-573369    3.7419
1               Ba(PdS2)2    mp-28967    0.7792
2         Na7Ta3Zn(SiO4)6  mp-2712904    2.5286
3                TiZnBiO5  mp-1042447    0.0000
4       Na2YNb3Si4(SO12)2  mp-2715697    1.8105
...                   ...         ...       ...
153222         ZnGe(SO4)3  mp-2713873    1.5473
153223       Na5Cu3(PO4)4  mp-1386638    0.0000
153224      MgTe6Mo2(WS)2  mp-2219998    0.0000
153225          K4U5B2O21  mp-1224701    0.1467
153226            NbTc2Ge   mp-977409    0.0000

[153227 rows x 3 columns]

In [16]:
# Filter the DataFrame
filtered_df = new_df[(new_df['band_gap'] > 1.5) & (new_df['band_gap'] < 2)]

In [17]:
filtered_df

           pretty_formula material_id  band_gap
4       Na2YNb3Si4(SO12)2  mp-2715697    1.8105
7                 Y2MgSe4  mp-1232187    1.8931
20              Sr(AsS2)2    mp-36577    1.7212
24                KAgTeS3  mp-1211732    1.6838
34             LaZnFeMoO6  mp-1044082    1.7032
...                   ...         ...       ...
153088      K5Na3Ta7NbO24  mp-1076413    1.9600
153164              BaI2O   mp-725677    1.7326
153166          Li2MnV3O8  mp-1273514    1.6437
153205         Fe5(GeO4)3  mp-1213223    1.6987
153222         ZnGe(SO4)3  mp-2713873    1.5473

[8879 rows x 3 columns]

In [18]:
filtered_df.to_csv('bandgapfiltered_data.csv', index=False)